body {
  background: #fff;
  font-family: arial, helvetica;
  font-size: 12px;
  line-height: 1.2;
  min-width: 1000px;
  color: #595959;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.content {
  margin: 20px;
}

a.button {
  padding: 10px;
  background-color: green;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}

table {
  width: 100%;
}

td.td-left {
  align-content: center;
  text-align: right;
  font-weight: bold; 
  width: 50%; 
  padding: 10px;
}

td.td-center {
  text-align: center;
}

.menu {
  width: 100%;
  height: 40px;
}

.top-menu {
  width:100%; 
  height: 50px; 
  background-color: gray;
}

.top-menu .left {
  float:left; 
  height: 100%; 
  margin-top: 20px; 
  margin-left: 20px;
}

.top-menu .right {
  float:right;
  height: 100%;
  margin-top: 20px;
  margin-right: 20px;
}

.top-menu .right span {
  margin-right: 20px;
  color: white;
}

